%section#main.main.entry{:role => :main}
  .body
    .frame
      %article.post
        %form{:action => "/add", :method => :post}
          %p Link
          %p.help Give use the best link for the Javascript or Stylesheets library you want to add
          %input{:name => :link}