.DS_Store
config/**/*
_app/.sass-cache
_app/.sass-cache/*
_app/.sass-cache/**/*
_app
_app/*
_app/**/*
_posts
_posts/*
_posts/**/*
public
public/*
public/**/*
*.html
Rakefile
javascripts/*.js
lib
lib/*
lib/**/*
_source/.sass-cache
_source/.sass-cache/*
_source/.sass-cache/**/*
.sass-cache
.sass-cache/*
.sass-cache/**/*
_app/.sass-cache
_app/.sass-cache/*
_app/.sass-cache/**/*
