.DS_Store
config/**/*
_source
_source/*
_source/**/*
_source/.sass-cache
_source/.sass-cache/*
_source/.sass-cache/**/*
_source
_source/*
_source/**/*
_posts
_posts/*
_posts/**/*
public
public/*
public/**/*
*.html
Rakefile
javascripts/*.js