%section#main.main{:role => :main}
  .body
    .frame
      - site.find_posts_by_category("libraries").each do |post|
        %article.post{:id => post.slug.value}
          %header.kind
            %h3= post.title
            %form.search{:action => "/search", :method => :post}
              %input.tags{:type => :text, :size => 30, :data => {:for => post.slug.value}}
          .content
            :textile
              #{post.read}
  .links
    %a{:href => c("links.website")} Viatropos