/ meta
%meta{:content => "text/html; charset=iso-8859-1", "http-equiv" => "Content-Type"}/
%meta{'http-equiv' =>"X-UA-Compatible", :content => "IE=EmulateIE7"}
%meta{:name => "author", :content => c("metadata.author")}/
%meta{:name => "copyright", :content => c("metadata.copyright")}/
%meta{:name => "classification", :content => c("metadata.classification")}/
%meta{:name => "country", :content => c("metadata.country")}/
%meta{:name => "keywords", :content => c("metadata.keywords")}/
%meta{:name => "description", :content => c("metadata.description")}
%meta{:name => "robots", :content => "index follow"}
%meta{:name => "apple-mobile-web-app-capable", :content => "yes"}/
%meta{:name => "apple-touch-fullscreen", :content => "yes"}/
%meta{:name => "google-analytics", :content => c("metadata.google_analytics")}/

/ stylesheets
%link{:href => "/stylesheets/reset.css", :rel => "stylesheet", :type => "text/css"}/
%link{:href => "/stylesheets/prettify.css", :rel => "stylesheet", :type => "text/css"}/
%link{:href => "/stylesheets/application.css", :rel => "stylesheet", :type => "text/css"}/

/ javascripts
%script{ :type => "text/javascript", :src => "/cache/jquery/1.4.2/javascripts/jquery-min.js" }
%script{ :type => "text/javascript", :src => "/cache/jquery-form/2.4.3/javascripts/jquery-form-min.js" }
%script{ :type => "text/javascript", :src => "/cache/jquery-hotkeys/0.0.0/javascripts/jquery-hotkeys-min.js" }
%script{ :type => "text/javascript", :src => "/cache/jquery-google-analytics/1.1.3/javascripts/jquery-google-analytics-min.js" }
%script{ :type => "text/javascript", :src => "/cache/jquery-liveupdate/0.0.0/javascripts/jquery-liveupdate.js" }
%script{ :type => "text/javascript", :src => "/javascripts/cached-commons.js" }
%script{ :type => "text/javascript", :src => "/javascripts/application.js" }

/ local business card: http://microformats.org/code/hcard/creator
%link{:rel => :profile, :href => "http://microformats.org/profile/hcard"}
/ icons
%link{:rel => "shortcut icon", :href => c("icons.favicon"), :type => "image/x-icon"}
%link{:rel => "apple-touch-icon", :href => c("icons.touch_icon"), :title => c("metadata.title")}/
