@mixin clearfix {
  &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}

@mixin rotate($angle) {
  behavior:url(-ms-transform.htc);
  -moz-transform:rotate($angle);
  -webkit-transform:rotate($angle);
  -o-transform:rotate($angle);
  -ms-transform:rotate($angle);
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

html, body, .document {
  background: $background-color;
  min-width: 960px;
  position: relative;
  z-index: 0;
  margin: 0;
  padding: 0;
}
.frame {
  width: 960px;
  margin: 0 auto;
  position: relative;
}