.top {
  text-align: right;
  h1 {
    font-size: 100px;
    letter-spacing: -8px;
    color: $accent-color;
    font-weight: bold;
  }
  h2 {
    color: $extra-color;
  }
  padding: 10px 0px 0px 0px;
  .downloadable {
    padding: 20px 0px;
    margin: 20px 0px 0px 0px;
    visibility: hidden;
    .download, .submit_request {
      background: $main-color;
      padding: 10px;
      display: inline-block;
      a {
        font-size: 48px;
      }
    }
    .submit_request a {
      font-size: 32px;
    }
    .instructions {
      clear: both;
      font-size: 10px;
    }
  }
}