$title-font: "Helvetica", "sans-serif";
$body-font: "Georgia", "serif";

* {
  font-family: $title-font;
  color: white;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

a, a:visited, a:hover {
  text-decoration: none;
}

span {
  color: inherit;
}

.content > * {
  color: $main-color;
}
input {
  color: $main-color;
}