* {
  font-family: "Helvetica", "sans-serif";
  color: white; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

a, a:visited, a:hover {
  text-decoration: none; }

span {
  color: inherit; }

.content > * {
  color: #272727; }

input {
  color: #272727; }

blockquote {
  color: #272727; }

textarea {
  color: #272727; }

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

html, body, .document {
  background: #e8e8e8;
  min-width: 960px;
  position: relative;
  z-index: 0;
  margin: 0;
  padding: 0; }

.frame {
  width: 960px;
  margin: 0 auto;
  position: relative; }

.header {
  background: #272727;
  padding: 5px 0px; }
  .header h1 {
    font-size: 20px; }
  .header .logo {
    float: left; }
  .header .navigation {
    text-align: right;
    float: right;
    padding-top: 2px; }
    .header .navigation ul li {
      display: inline;
      padding: 0px 0px 0px 20px; }
  .header:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }

.footer {
  margin-top: 40px;
  background: #272727;
  padding: 5px 0px;
  text-align: right; }

.how-to {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
  display: none; }
  .how-to .step {
    vertical-align: middle;
    background: #709eab;
    margin: 5px;
    width: 300px;
    height: 100px;
    display: inline-block; }
    .how-to .step p {
      height: 100px;
      width: 300px;
      display: table;
      font-size: 20px;
      padding: 10px; }
      .how-to .step p span {
        display: table-cell;
        vertical-align: middle; }

.top {
  text-align: right;
  padding: 0px; }
  .top .fork-me {
    float: left; }
  .top h1 {
    padding-top: 10px;
    font-size: 100px;
    letter-spacing: -8px;
    color: #841f25;
    font-weight: bold; }
  .top h2 {
    color: #709eab; }
  .top .downloadable {
    padding: 20px 0px;
    margin: 20px 0px 0px 0px;
    visibility: hidden;
    display: block; }
    .top .downloadable:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
    .top .downloadable .download, .top .downloadable .submit_request {
      float: right;
      background: #272727;
      padding: 10px;
      display: inline-block; }
      .top .downloadable .download a, .top .downloadable .submit_request a {
        font-size: 48px; }
    .top .downloadable .submit_request a {
      font-size: 32px; }
    .top .downloadable .instructions {
      clear: both;
      font-size: 10px; }
  .top .details {
    float: right;
    width: 690px;
    padding: 10px 20px 10px 10px; }
    .top .details * {
      color: #9a9a9a; }
  .top .code {
    width: 945px;
    margin: 10px 10px 10px 10px;
    padding: 5px;
    text-align: right;
    background: white;
    position: relative;
    right: 5px;
    border: 1px solid #cfcfcf;
    font-size: 22px;
    display: none;
    overflow: hidden;
    color: #aaaaaa; }
    .top .code code {
      color: #aaaaaa;
      display: block;
      position: relative; }
    .top .code pre {
      overflow: hidden; }
  .top textarea.code {
    font-size: 20px;
    text-align: left;
    height: 0; }
  .top .options {
    display: none; }
    .top .options a {
      background: #272727;
      padding: 5px; }
  .top:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }

.label-highlight {
  text-align: right;
  font-size: 28px;
  color: #eeeeee; }

.label-highlight.with-code {
  color: #aaaaaa;
  text-align: left;
  font-size: 24px; }

.main * {
  color: #7a7a7a; }
.main.readme ul, .main.readme ol {
  margin: 5px 0px 5px 20px;
  padding: 0px; }
.main.readme p {
  margin: 10px; }
.main.readme h1, .main.readme h2, .main.readme h3, .main.readme h4 {
  margin: 20px 0px; }
.main.readme h1 {
  font-size: 48px;
  border-bottom: 1px solid #cfcfcf; }
.main.readme h2 {
  font-size: 30px; }
.main.readme a {
  text-decoration: underline; }
.main.readme blockquote * {
  font-style: italic; }
.main.readme pre {
  padding: 5px;
  background: #f7f7f7; }
  .main.readme pre code {
    color: #841f25; }

.main.index .post {
  border-bottom: 10px solid #cfcfcf; }
  .main.index .post .kind {
    padding: 60px 0px 10px 5px; }
    .main.index .post .kind h3 {
      color: #841f25;
      font-size: 32px;
      font-weight: bold;
      float: left; }
    .main.index .post .kind .search {
      float: right; }
      .main.index .post .kind .search input {
        padding: 10px 0px -15px 0px;
        text-align: right; }
    .main.index .post .kind:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
  .main.index .post:first-child .kind {
    padding-top: 10px; }
  .main.index .post .tags {
    color: #cfcfcf;
    font-size: 14px;
    font-style: italic;
    position: relative; }
.main.index ul {
  list-style: none;
  position: relative;
  z-index: 1; }
  .main.index ul:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  .main.index ul li {
    padding: 10px 0px;
    border-top: 1px solid #cfcfcf;
    background: white; }
    .main.index ul li:last-child {
      border-bottom: 1px solid #cfcfcf; }
    .main.index ul li a, .main.index ul li a * {
      color: #841f25;
      font-size: 20px;
      text-decoration: none;
      padding: 0px 5px; }
    .main.index ul li:hover {
      background: #fcfcfc; }
    .main.index ul li.selected {
      background: #f7f7f7; }
    .main.index ul li:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
    .main.index ul li ul {
      text-align: right;
      float: right; }
      .main.index ul li ul li {
        display: inline-block;
        border: none;
        padding: 0px 10px;
        background: none; }
        .main.index ul li ul li a {
          text-align: center;
          color: #272727;
          font-size: 14px; }
        .main.index ul li ul li a:hover, .main.index ul li ul li a:visited {
          color: #709eab; }
        .main.index ul li ul li:last-child {
          border: none; }
      .main.index ul li ul:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden; }

.selector {
  background: #272727;
  color: #272727;
  position: absolute;
  left: -10px;
  right: -10px;
  font-size: 20px;
  z-index: -10;
  visibility: hidden; }

.view-code {
  position: absolute;
  right: -42px;
  width: 100px;
  background: #272727;
  z-index: 100;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  padding: 5px;
  behavior: url(-ms-transform.htc);
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg); }
