* {
  font-family: "Helvetica", "sans-serif";
  color: white;
  font-size: .75em; }

body {
  font-size: 1em; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

a, a:visited, a:hover {
  text-decoration: none; }

span {
  color: inherit; }

.content > * {
  color: #272727; }

input {
  color: #272727; }

blockquote {
  color: #272727; }

textarea {
  color: #272727; }

.entry .frame {
  background: white;
  padding: 10px;
  width: 940px; }
.entry p, .entry a, .entry small, .entry em, .entry i, .entry q, .entry blockquote, .entry li {
  color: #7a7a7a; }
.entry ul, .entry ol {
  margin: 5px 0px 5px 20px;
  padding: 0px; }
.entry p {
  margin: 20px 0px; }
.entry h1, .entry h2, .entry h3, .entry h4 {
  margin: 20px 0px;
  color: #841f25; }
.entry h1 {
  font-size: 48px; }
.entry h2 {
  font-size: 30px; }
.entry a {
  text-decoration: underline; }

.code-view {
  width: 960px;
  height: 400px;
  overflow: scroll; }

pre {
  padding: 5px;
  font-size: 12px;
  background: #161616; }
  pre * {
    line-height: 1.3 !important;
    font-family: Monaco, sans-serif; }

.str {
  color: #72fb0a; }

.kwd {
  color: #f46f09; }

.com {
  color: #c322a4; }

.typ {
  color: #fdc24f; }

.lit {
  color: #58c550; }

.pun {
  color: #e7e1dc; }

.pln {
  color: #e7e1dc; }

.tag {
  color: #f46f09; }

.atn {
  color: #ffff82; }

.atv {
  color: #72fb0a; }

.dec {
  color: #f46f09; }

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

html, body, .document {
  background: #e8e8e8;
  min-width: 960px;
  position: relative;
  z-index: 0;
  margin: 0;
  padding: 0; }

.frame {
  width: 960px;
  margin: 0 auto;
  position: relative; }

.header {
  background: #272727;
  padding: 5px 0px; }
  .header h1 {
    font-size: 20px; }
  .header .logo {
    float: left; }
  .header .navigation {
    text-align: right;
    float: right;
    padding-top: 2px; }
    .header .navigation ul li {
      display: inline;
      padding: 0px 0px 0px 20px; }
  .header:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }

.footer {
  margin-top: 40px;
  background: #272727;
  padding: 5px 0px;
  text-align: right; }

.how-to {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
  display: none; }
  .how-to .step {
    vertical-align: middle;
    background: #709eab;
    margin: 5px;
    width: 300px;
    height: 100px;
    display: inline-block; }
    .how-to .step p {
      height: 100px;
      width: 300px;
      display: table;
      font-size: 20px;
      padding: 10px; }
      .how-to .step p span {
        display: table-cell;
        vertical-align: middle; }

.top {
  text-align: right;
  padding: 0px; }
  .top .fork-me {
    float: left; }
  .top h1 {
    padding-top: 10px;
    font-size: 6em;
    letter-spacing: -8px;
    color: #841f25;
    font-weight: bold; }
  .top h2 {
    color: #709eab; }
  .top .downloadable {
    padding: 20px 0px;
    margin: 20px 0px 0px 0px;
    visibility: hidden;
    display: block; }
    .top .downloadable:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
    .top .downloadable .download, .top .downloadable .submit_request {
      float: right;
      background: #272727;
      padding: 10px;
      display: inline-block; }
      .top .downloadable .download a, .top .downloadable .submit_request a {
        font-size: 48px; }
    .top .downloadable .submit_request a {
      font-size: 32px; }
    .top .downloadable .instructions {
      clear: both;
      font-size: 10px; }
  .top .details {
    float: right;
    width: 660px;
    padding: 10px 20px 10px 10px; }
    .top .details * {
      color: #9a9a9a; }
  .top .code {
    width: 945px;
    margin: 10px 10px 10px 10px;
    padding: 5px;
    text-align: right;
    background: white;
    position: relative;
    right: 5px;
    border: 1px solid #cfcfcf;
    font-size: 22px;
    display: none;
    overflow: hidden;
    color: #aaaaaa; }
    .top .code code {
      color: #aaaaaa;
      display: block;
      position: relative; }
    .top .code pre {
      overflow: hidden; }
  .top textarea.code {
    font-size: 20px;
    text-align: left;
    height: 0; }
  .top .options {
    display: none; }
    .top .options a {
      background: #272727;
      padding: 5px; }
  .top:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }

.label-highlight {
  text-align: right;
  font-size: 28px;
  color: #eeeeee; }

.label-highlight.with-code {
  color: #aaaaaa;
  text-align: left;
  font-size: 24px; }

.main.index .post {
  border-bottom: 10px solid #cfcfcf; }
  .main.index .post .link {
    padding: 10px 5px; }
  .main.index .post .version {
    float: right; }
  .main.index .post .kind {
    padding: 60px 0px 10px 5px; }
    .main.index .post .kind h3 {
      color: #841f25;
      font-size: 32px;
      font-weight: bold;
      float: left; }
    .main.index .post .kind .search {
      float: right; }
      .main.index .post .kind .search input {
        padding: 10px 0px -15px 0px;
        text-align: right; }
    .main.index .post .kind:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
  .main.index .post:first-child .kind {
    padding-top: 10px; }
  .main.index .post .tags {
    color: #cfcfcf;
    font-size: 14px;
    font-style: italic;
    position: relative; }
.main.index ul {
  list-style: none;
  position: relative;
  z-index: 1;
  padding: 0;
  margin: 0; }
  .main.index ul:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  .main.index ul > * {
    padding: 0;
    margin: 0; }
  .main.index ul li {
    border-top: 1px solid #cfcfcf;
    background: white; }
    .main.index ul li details:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
    .main.index ul li .summary:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
    .main.index ul li .links, .main.index ul li .sources {
      display: block; }
    .main.index ul li:last-child {
      border-bottom: 1px solid #cfcfcf; }
    .main.index ul li a, .main.index ul li a * {
      color: #841f25;
      font-size: 20px;
      text-decoration: none;
      padding: 0px 5px; }
    .main.index ul li:hover {
      background: #fcfcfc; }
    .main.index ul li.open {
      background: #fcfcfc; }
      .main.index ul li.open .summary {
        border-bottom: 1px solid #ececec; }
    .main.index ul li.selected {
      background: #f7f7f7; }
    .main.index ul li.focused {
      background: #709eab; }
      .main.index ul li.focused li {
        background: inherit; }
        .main.index ul li.focused li a:hover, .main.index ul li.focused li a:visited {
          color: #272727; }
    .main.index ul li ul {
      text-align: right;
      float: right; }
      .main.index ul li ul li {
        display: block;
        float: left;
        height: 100%;
        border: none;
        padding: 0px 12px;
        background: none; }
        .main.index ul li ul li a {
          text-align: center;
          color: #272727;
          font-size: 14px; }
        .main.index ul li ul li a:hover, .main.index ul li ul li a:visited {
          color: #a7a7a7; }
        .main.index ul li ul li:last-child {
          border: none; }
    .main.index ul li:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
    .main.index ul li .links {
      height: 40px; }
    .main.index ul li .sources {
      float: left; }
    .main.index ul li .sources a {
      display: inline-block;
      padding: 10px 0px 10px 0px;
      margin: 0px 10px 0px 10px; }
    .main.index ul li .links li {
      padding: 0px;
      margin: 0px 0px 0px 10px;
      height: 40px;
      width: 60px; }
      .main.index ul li .links li.arrow {
        width: 40px; }
        .main.index ul li .links li.arrow a {
          width: 20px; }
      .main.index ul li .links li a {
        text-align: center;
        padding: 12px 10px 0px 10px;
        margin: 0;
        height: 28px;
        display: block;
        width: 40px;
        float: left; }
    .main.index ul li:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
    .main.index ul li .details {
      display: none;
      background: #fcfcfc; }
      .main.index ul li .details:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden; }
      .main.index ul li .details .link {
        display: block;
        clear: both;
        text-align: right !important;
        float: right; }
        .main.index ul li .details .link a {
          color: grey; }

.selector {
  background: #272727;
  color: #272727;
  position: absolute;
  left: -10px;
  right: -10px;
  font-size: 20px;
  z-index: -10;
  visibility: hidden; }

.view-code {
  position: absolute;
  right: -42px;
  width: 100px;
  background: #272727;
  z-index: 50;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  padding: 5px;
  behavior: url(-ms-transform.htc);
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg); }

#readme-body .downloadable, #tips-body .downloadable {
  display: none; }

textarea {
  border: 1px solid #cfcfcf; }
