%section#header{:role => :definition}
  .header
    .frame
      %header.logo
        %h1
          %img{:src => c("icons.favicon"), :alt => c("metadata.title")}
          %a{:href => "/"}= c("metadata.title")
      %nav.navigation{:role => :menu}
        %ul
          %li
            %a{:href => "/"} Cache
          %li
            %a{:href => "/readme"} Readme
          %li
            %a{:href => "http://github.com/viatropos/cached-commons"} Source
          %li
            %a{:href => "http://github.com/viatropos/cached-commons/issues", :title => "Point us to a library on Github Issues", :alt => "Point us to a library on Github Issues"} Submit
          %li
            %a{:href => "http://github.com/viatropos/cached-commons/zipball/master"} Download
          %li
            %a{:href => "/tips"} Tips
  .top
    .frame
      %header
        %hgroup
          %a{:href => "http://github.com/viatropos/cached-commons"}
            %img.fork-me{:src => "http://s3.amazonaws.com/github/ribbons/forkme_left_red_aa0000.png"}
          %h1= c("metadata.title")
          %h2= c("metadata.tagline")
      %details.downloadable
        %summary.download
          %a{:href => "http://github.com/viatropos/cached-commons/zipball/master"} Download
          .instructions Download Everything as a Zip
        .details
          :textile
            #{site.find_post_by_path("/cached-commons").read}
      -#
        .how-to
          %figure.step
            %p
              %span Click titles for direct link to code (and minified version)
          %figure.step
            %p
              %span Click rows to generate copy/pastable script tags
          %figure.step
            %p
              %span Click links for Home, Docs, Source, and Demos
      .code
        %pre
          %code
      .options
        %a.all{:href => "/all"} All
        %a.clear{:href => "/clear"} Clear
      %textarea.code#code{:wrap => :off, :readonly => true}