%section{:role => :definition}
  .header
    .frame
      %header.logo
        %h1
          %a{:href => "/"}= c("metadata.title")
      %nav.navigation{:role => :menu}
        %ul
          %li
            %a{:href => "/"} Cache
          %li
            %a{:href => "/tips"} Tips
          %li
            %a{:href => "http://github.com/viatropos/cached-commons"} Source
  .top
    .frame
      %header
        %hgroup
          %h1= c("metadata.title")
          %h2= c("metadata.tagline")
      %details.downloadable
        %summary.download
          %a{:href => "http://github.com/viatropos/cached-commons/zipball/master"} Download
          .instructions Download Everything.